/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @font-face {

    font-family: 'mono-regular';
    src: url('fonts/apercu-mono-regular.eot');
    src: url('fonts/apercu-mono-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/apercu-mono-regular.woff') format('woff'),
         url('fonts/apercu-mono-regular.woff2') format('woff2'),
         url('fonts/apercu-mono-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {

    font-family: 'apercu-regular';
    src: url('fonts/apercu-regular.eot');
    src: url('fonts/apercu-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/apercu-regular.woff') format('woff'),
         url('fonts/apercu-regular.woff2') format('woff2'),
         url('fonts/apercu-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {

    font-family: 'apercu-bold';
    src: url('fonts/apercu-bold.eot');
    src: url('fonts/apercu-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/apercu-bold.woff') format('woff'),
         url('fonts/apercu-bold.woff2') format('woff2'),
         url('fonts/apercu-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    }

    body {
    background-color: #050508;
    /*text-align: center;*/
    color: #27baa4;
    font-family: 'apercu-regular', sans-serif;/*'Oxygen Mono', Monaco, sans-serif;*/
    line-height: 1.3em;
    touch-action: manipulation;
  }

  h3 {
    font-family: 'apercu-bold', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
  }

  button {
    font-family: 'mono-regular', monospace;
    background-color: #27baa4;
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    transition-duration: 1s;
  }

  button:active {
    background-color: #C97CF7;
    transition-duration: 0s;
  }

  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }
  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }
  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }
  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }
  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }
  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }
  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }
  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }
  #count4:active {
    background-color: #80b1d3;
    transition-duration: 0s;
  }


  


  .master-button {
    font-family: 'mono-regular', monospace;
    background-color: #F8A17A;
    color: #000;
  }

  .inactive-button {
    background-color: #aaa;
  }

  input {
    visibility: hidden;
    display: block;
  }

  .count-button {
    display: block;
  }

  #edit {
    position: fixed;
    top: 0;
    right: 0;
  }

  #read-out {
    font-family: 'mono-regular', monospace;
    overflow: hidden;
    height: 1em;
    display: none;
  }

  .number-tracker {
    color: #C97CF7;
  }

  #countNumberTracker1 {
    color: #c97cf7;
  }

  #countNumberTracker2 {
    color: #ffffb3;
  }

  #countNumberTracker3 {
    color: #fb8072;
  }

  #countNumberTracker4 {
    color: #80b1d3;
  }

  #countNumberTracker5 {
    color: #fdb462;
  }

  #countNumberTracker6 {
    color: #fccde5;
  }

  #countNumberTracker7 {
    color: #bebada;
  }

  #countNumberTracker8 {
    color: #ffed6f;
  }

  #countNumberTracker9 {
    color: #ccebc5;
  }

  #shield {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
  }

  #shield-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    display: block;
    vertical-align: middle;
    height: 500px;
    font-family: 'mono-regular', monospace;
    font-size: 3em;
    line-height: 1em;

  }

  #map {
    width: 100%; 
    height: 160px;
  }

  

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

